<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string></string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>本地播放</string>
				<key>icon</key>
				<string>music</string>
			</dict>
			<dict>
				<key>name</key>
				<string>最近播放</string>
				<key>icon</key>
				<string>播放</string>
			</dict>
			<dict>
				<key>name</key>
				<string>我的电台</string>
				<key>icon</key>
				<string>rodio</string>
			</dict>
			<dict>
				<key>name</key>
				<string>我的收藏</string>
				<key>icon</key>
				<string>people</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>我创建的歌单</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>我喜欢的音乐</string>
				<key>icon</key>
				<string>img_01011</string>
			</dict>
			<dict>
				<key>name</key>
				<string>尤克里里</string>
				<key>icon</key>
				<string>img_0102</string>
			</dict>
			<dict>
				<key>name</key>
				<string>轻音乐</string>
				<key>icon</key>
				<string>img_0103</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>我收藏的歌单</string>
		<key>list</key>
		<array>
			<dict>
				<key>name</key>
				<string>喜欢纯音乐</string>
				<key>icon</key>
				<string>img_0201</string>
			</dict>
			<dict>
				<key>name</key>
				<string>有没有一首歌会让你热泪盈眶</string>
				<key>icon</key>
				<string>img_0202</string>
			</dict>
			<dict>
				<key>name</key>
				<string>抒情／日语</string>
				<key>icon</key>
				<string>img_0203</string>
			</dict>
			<dict>
				<key>name</key>
				<string>让我再看你一眼</string>
				<key>icon</key>
				<string>img_0204</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
